[submodule "jedi-vim"]
	path = jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "tagbar"]
	path = tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim-javascript"]
	path = vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim-python-pep8-indent"]
	path = vim-python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule "pytest.vim"]
	path = pytest.vim
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim-py-encoding"]
	path = vim-py-encoding
	url = https://github.com/srlobo/vim-py-encoding.git
[submodule "vim-git"]
	path = vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "TaskList.vim"]
	path = TaskList.vim
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "ropevim"]
	path = ropevim
	url = https://github.com/python-rope/ropevim.git
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "rope"]
	path = rope
	url = https://github.com/python-rope/rope.git
[submodule "ropemode"]
	path = ropemode
	url = https://github.com/python-rope/ropemode.git
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-virtualenv"]
	path = vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
[submodule "unite.vim"]
	path = unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "vim-pug"]
	path = vim-pug
	url = https://github.com/digitaltoad/vim-pug.git
[submodule "editorconfig-vim"]
	path = editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim-airline-themes"]
	path = vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "syntastic"]
	path = syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim-javacomplete2"]
	path = vim-javacomplete2
	url = https://github.com/artur-shaik/vim-javacomplete2.git
[submodule "vim-es6"]
	path = vim-es6
	url = https://github.com/isRuslan/vim-es6.git
